{% extends 'FormBundle::base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
       <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="text-center">Wypełnij formularz</h3><hr>
                {{ form(form) }}
                <br>
            </div>
        <div class="col-md-1"></div>
    <div>
</div><!-- /.container -->

{% endblock %}